@use '../custom' as *;
@use '../components/mixins' as *;

.howitworks{
    @include gradient;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    color: $gray-600;

}
.workings{

    .video-box2{
        position: relative;
        a{
           // @include absoluteCentre;
            span{

                i{
                    font-size: 6rem;
                    color: $white;
                    opacity: 0.5;                  
                    

                }
            }
        }
    }
}
.border-animation2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    animation: pulse-border 1.5s linear infinite;

    &--border-1{
        animation-delay: 1s;
    }
    &--border-2{
        animation-delay: 1.5s;
    }

}