 @use '../custom' as *;
 @use '../components/mixins' as *;
.menu {
@include gradient;
   li {
    padding: 0 0.7rem;

    a {
        color: $gray-600 !important;
        text-transform: capitalize;
        font-weight: 600;
        &:hover{
   
            color: $gray-500 !important;
      
        }

    }



}


}